<% if Decidim::TrustedIds.census_config_attributes.present? %>
  <div class="border-2 rounded border-background p-4 form__wrapper mt-8 first:mt-0 last:pb-4">
    <h3 class="h4"><%= t("decidim.trusted_ids.system.settings", handler: t("decidim.authorization_handlers.trusted_ids_census_handler.name")) %></h3>

    <%= f.fields_for :trusted_ids_census_settings do |fields| %>
      <% Decidim::TrustedIds.census_config_attributes.each do |setting, _type| %>
        <%= fields.text_field setting.to_sym, value: f.object.trusted_ids_census_settings[setting&.to_s], label: t("activemodel.attributes.trusted_ids_census_config.settings.#{setting}") %>
      <% end %>
    <% end %>
    <div class="field">
      <%= f.number_field :trusted_ids_census_expiration_days, label: t("activemodel.attributes.trusted_ids_census_config.settings.expiration_days", days: @form.default_expiration_days), placeholder: @form.default_expiration_days.to_s %>
      <%= f.check_box :census_expiration_apply_all_tenants, label: t("activemodel.attributes.trusted_ids_census_config.census_expiration_apply_all_tenants") %>
    </div>
    <div class="field">
      <%= f.translated :editor, :trusted_ids_census_tos, label: t("activemodel.attributes.trusted_ids_census_config.settings.tos") %>
      <div style="background:#f0f0f0;padding:1em;font-size: 0.8em;">
        <h6><%= t("activemodel.attributes.trusted_ids_census_config.tos_if_empty_html") %></h6>
        <%= t("decidim.via_oberta.verifications.tos.content_html") %>
      </div>
      <%= f.check_box :census_tos_apply_all_tenants, label: t("activemodel.attributes.trusted_ids_census_config.census_tos_apply_all_tenants") %>
    </div>
  </div>
<% end %>

<%= render partial: "layouts/decidim/admin/js_configuration" %>
