<%
  provider = Decidim::TrustedIds.omniauth_provider&.to_sym
  provider_str = t("decidim.authorization_handlers.trusted_ids_handler.name")
  icon_path = current_organization.enabled_omniauth_providers[provider]&.dig(:icon_path)
  override_login = Decidim::TrustedIds.custom_login_screen? && Devise.mappings[:user].omniauthable? && current_organization.enabled_omniauth_providers&.include?(provider)
%>

<% add_decidim_page_title(t("devise.sessions.new.log_in")) %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>

  <% if override_login %>
    <div class="login__info trusted-ids-login-box">
      <h2 class="h2"><%= t("decidim.trusted_ids.devise.sessions.new.login") %></h2>
      <p><%= t("decidim.trusted_ids.devise.sessions.new.login_subtitle") %></p>
      <h6><%= t("decidim.trusted_ids.devise.sessions.new.verified_identity", provider: provider_str) %></h6>
      <%= t("decidim.trusted_ids.devise.sessions.new.verified_identity_html") %>
      <p><%= link_to decidim.send("user_#{provider}_omniauth_authorize_path"), class: "button button--social button--#{normalize_provider_name(provider)}", method: :post do %>
        <span class="button--social__icon">
          <%= external_icon icon_path.presence || Decidim::TrustedIds.omniauth[:icon_path] %>
        </span>
        <span class="button--social__text">
          <%= t("decidim.trusted_ids.devise.sessions.new.verified_login") %>
        </span>
      <% end %></p>
      <hr>
      <p><%= link_to t("decidim.trusted_ids.devise.sessions.new.unverified_login"), "#", class: "button hollow secondary expanded button--unverified-login", onclick: "document.querySelectorAll('.decidim-login').forEach((el) => el.classList.toggle('hide'));return false" %></p>
    </div>
  <% else %>
    <div class="flex justify-center">
      <h1 class="title-decorator my-12"><%= t("devise.sessions.new.log_in") %></h1>
    </div>

    <div class="login__info font-semibold decidim-login">
      <% if current_organization.sign_up_enabled? %>
        <p>
          <%= t("decidim.devise.sessions.new.are_you_new?") %>
          <%= link_to t("decidim.devise.sessions.new.register"), new_user_registration_path %>
        </p>
      <% elsif current_organization.sign_in_enabled? %>
        <p>
          <%= t("decidim.devise.sessions.new.sign_up_disabled") %>
        </p>
      <% else %>
        <p>
          <%= t("decidim.devise.sessions.new.sign_in_disabled") %>
        </p>
      <% end %>
    </div>
  <% end %>

  <span class="login__info-separator"></span>

  <% if override_login %>
    <div class="decidim-login hide">
      <%= render "decidim/trusted_ids/devise/sessions/omniauth_buttons" %>
    </div>
  <% else %>
    <% cache current_organization do %>
      <%= render "decidim/devise/shared/omniauth_buttons" %>
    <% end %>
  <% end %>

  <% if current_organization.sign_in_enabled? %>
    <div class="row decidim-login<%= " hide " if override_login %>">
      <%= decidim_form_for(resource, namespace: "session", as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form__wrapper">
          <%= f.email_field :email, autocomplete: "email", placeholder: t("placeholder_email", scope: "decidim.devise.shared"), required: true %>

          <%= render partial: "decidim/account/password_fields", locals: { form: f } %>

          <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me, label_options: { class: "form__wrapper-checkbox-label" } %>
          <% end %>
        </div>

        <div class="form__wrapper-block">
          <button type="submit" class="button button__lg button__secondary">
            <%= t("devise.sessions.new.log_in") %>
            <%= icon "arrow-right-line", class: "fill-current" %>
          </button>
        </div>

        <div class="login__links">
          <%= render "decidim/devise/shared/links" %>
        </div>
      <% end %>
    </div>

  <% end %>
<% end %>
